<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Track</title>
</head>
<style>
    body {
        background-image: linear-gradient(transparent, rgba(42, 190, 235, 0.707)), url(https://www.indifi.com/blog/wp-content/uploads/2020/10/Marketing-Strategies-for-Courier-Companies.jpeg);
        /* background-color: blueviolet; */
        background-size: 100%;
        background-repeat: no-repeat;
        /* background-position: top right; */
        /* background-position: cent; */
        background-attachment: fixed;
        padding: 30px;
        /* background-position: ; */
    }
</style>

<body>
    <section>
        <br><br>
        <h2>Track Courier</h2>
        <form method="post" action="/track">
            <br><br>
            <label>Courier ID:</label>
            <input type="number" name="cid" class="form-control" placeholder="Enter Courier ID">
            <br><br>
            <input type="submit" name="place" value="Submit" class="btn btn-dark">
        </form>
    </section>
</body>

</html>